@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
#home {
	position:relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('../images/bg-web.jpg');
	background-color: #464646;
}
#thoughts-1 {
	position:relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('../images/post1b.jpg');
	background-color: #464646;
}
#travel-1 {
	position:relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('../images/travel/israel1.jpg');
	background-color: #464646;
}
a {
	color:#333;
}
a:hover {
	color:#999;
}

h1 {
	font-family: 'Lora', serif;
	font-size:50px;
	font-weight:400;
}
h2 {
	font-family: 'Lora', serif;
	font-size:35px;
	font-weight:400;
}
p {
	font-size:16px;
}
.container {
	overflow:hidden;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

/* navigation bar */
#nav {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	z-index:1;
	position:fixed;
	padding-left:5%;
	width:100%;
	height:45px;
	background:url('../images/menu.png') no-repeat 2% center, url('../images/blank-square.png') repeat;
	transition: .8s linear all;
}
#nav ul {
	padding-left:0;
}
#nav li {
	list-style-type:none;
	float:left;
	padding:0 15px;
}
#nav li a {
	text-decoration:none;
}
#nav.background {
	background:url('../images/menu-black.png') no-repeat 2% center, url('../images/white-square.png') repeat;
}
/* home page - main text */
#stage {
	position:absolute;
	top:15%;
	width: 50%;
}
#stage p {
	color:#555;
	font-size:20px;
}

/* blog post */
#post {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align:center;
	width:70%;
}
#post h1 {
	margin:0;
}
#post p {
	font-size:18px;
}
#post p.date {
	font-family: 'Roboto', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:3px;
}
#post p.read-more {
	clear:both;
	border:1px solid #000;
	padding:10px;
	width:180px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
	margin:30px auto;
	font-family: 'Roboto', sans-serif;
}
#post p.read-more:hover {
	background:#000;
}
#post p.read-more:hover a {
	color:#FFF;
}
#post p.read-more a {
	text-decoration:none;
}

.left-col {
	position:absolute;
	width:40%;
	top:10%;
}

/* photo caption */
#photo-caption {
	position:fixed;
	padding:7px;
	bottom:0;
	right:0;
	background:url('../images/black-square.png') repeat;
	color:#eee;
}
#photo-caption p {
	font-size:10px;
	margin:0;
	padding:0;
}
#photo-caption a {
	color:#eee;
}
